<div class='span9'>
    <div id='instructions'>
        <h1>Most In Demand Jobs</h1>
        <p>Use the navigation on the left to find which jobs are in demand by region.</p>
    </div>
    <div id='job_detail'>
    
    </div>
</div>    