<div class='span9'>
    <div id='instructions'>
        <p>Choose a region and start exploring.</p>
        
        <p>Every time you search you'll see a different selection of the most in demand jobs in your area.</p>
        
    </div>
    <div id='job_detail'>
    
    </div>
</div>