<div class='span9'>
    <div id='instructions'>
<<<<<<< HEAD
        <p>Select your region to find out which kinds of jobs have most vacancies.</p>
=======
        <h2>Select your region to find out which jobs are most in demand.</h1>
>>>>>>> cb1b88201eea2fbee89f6d2503e578fa07c0497d
    </div>
    <div id='job_detail'>
    
    </div>
</div>    