/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
body {
    background-color: #eee;
    padding-top:30px;

} 
 
h2 { 
     text-decoration:italic;
     border-bottom:1px solid black;
}

h3 { 
    margin-top:30px!important;
}

.job_choices { 
    display:none;
}
 
 #results_container li { 
     cursor:pointer;
     text-decoration:underline;
     margin-bottom:5px;
}

#job_detail { 
    margin-bottom:200px;
}

#ytplayer { 
    margin-left:20px;
    margin-top:20px;
}

.sidebar-nav { 
    background-color:white!important;
}

.navbar-fluid-top { 
    background-color:white!important;    
}
